@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

@media (max-width: 375px) {
  body{
  transform: scale(0.75);
  }
}


* {
  font-family: "GothamPro";
}

body {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  margin: 0%;
}

form {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  flex-wrap: wrap;
}

.inputbox {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #d2d2d7;
  opacity: 1;
  margin: 5px;
  width: 350px;
  height: 50px;
}

.input:focus-within {
  border-color: #000000;
}

.inputbox input {
  padding: 5px;
  padding-bottom: 0%;
  display: flex;
  font-size: 12;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: 100%;
  color: #494949;
}

.inputbox label {
  display: block;
  position: absolute;
  cursor: pointer;
  font-weight: 300;
  font-size: 17px;
  pointer-events: none;
  transform: translate(5px, -37px) scale(1);
  transform-origin: top left;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
  color: #86868b;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inputbox:focus-within label {
  transform: translate(5px, -49px) scale(0.7);
  color: #86868b;
}

.inputbox label.active {
  transform: translate(5px, -49px) scale(0.7);
  color: #86868b;
}

.uploadbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  text-align: center;
  margin: 5px;
  border-width: 2px;
  border-radius: 7px;
  border-color: #d2d2d7;
  width: 350px;
  height: 100px;
}

#infoicon{
  font-size: 12px;
  font-weight: 100;
  font-optical-sizing: auto;
}

.inputerr{
  display: none;
  color: red;
  font-size: 11px;
  font-weight: 100;
  text-align: left;
  margin: 5px;
  margin-left: 7px;
  margin-top: 2px;
  align-self: normal;
}

.uploadbox{
  z-index: 800;
}
.uploadbox input {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
}

#Upload {
  position: absolute;
  text-align: center;
  color: #86868b;
  font-weight: 300;
  z-index: 850;
}

#previewContainer {
  display: none;
  margin-top: 5px;
  margin: 10px auto;
  width: 360px;
  height: 270px;
  overflow: visible;
}

#Message {
  font-size: 12px;
  font-weight: 100;
  margin: 5px;
  margin-bottom: 7px;
}

#previewImage {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#submit {
  width: 85px;
  height: 30px;
  margin: 5px;
  border-style: none;
  border-radius: 4px;
  opacity: 1;
  font-weight: lighter;
  font-size: 13px;
  background: linear-gradient(to top, rgb(117, 149, 255), rgb(103, 171, 240));
  color: rgb(255, 255, 255);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes remove {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.remove {
  animation: remove 1s ease-in-out;
}

.hide{
  display: none;
  animation: ease-in-out;
}

@keyframes breathing {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.7;
  }
}

.breathing {
  animation-name: breathing;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
