@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

* {
  font-family: "GothamPro";
}

body {
  background-color: hsla(0, 0%, 100%, 0.8);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  margin: 0%;
  background-image: url("../Data/a24b55de7a5baf9b9e51872a91d19f6c.jpg");
  background-size: cover;
  user-select: none;
  -webkit-user-select: none;
  /* For Safari */
  -moz-user-select: none;
  /* For Firefox */
  -ms-user-select: none;
  /* For Microsoft Edge */
  -webkit-user-drag: none;
  /* For Safari */
  -moz-user-drag: none;
  /* For Firefox */
}

#gpayimg {
  width: 36px;
  height: 18px;
  margin-left: 11px;
  margin-bottom: 3px;
}

#whatsappimg {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  top: 3px;
}

#emailimg {
  width: 24px;
  height: 25px;
  margin-left: 5px;
  top: 3px;
}

.Message {
  font-size: 20px;
  font-weight: 500;
  max-width: 380px;
  text-align: center;
  color: #000000;
  margin: 20px;
}

#next {
  color: #494949;
  font-weight: 100;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 200;
  font-size: 14px;
  margin: 20px;
  background: linear-gradient(to top, rgba(20, 123, 219, 0.445), rgba(3, 161, 252, 0.37));
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: none;
  border-radius: 5px;
}

#next:link {
  text-decoration: none;
  color: #494949;
}

#next:visited {
  text-decoration: none;
  color: #494949;
}