@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

*{
  font-family: "GothamPro";
  font-weight: 100;
  font-size: 11px;
}
/* Reset some default styles */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../Data/a24b55de7a5baf9b9e51872a91d19f6c.jpg");
  background-size: cover;
  padding: 40px;
  animation: ease-in 2s;
}

/* Data container styles */
#dataContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}

/* Data div styles */
.displayimage {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ececec;
  margin-bottom: 20px;
  width: 720px;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s, opacity 0.3s;
}

/* Info overlay styles */
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show info on hover */
.displayimage:hover .info {
  opacity: 1;
}

.Message{
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  color: #000000;
  bottom: 0px;
  margin: 0px;
}

.Message2{
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  color: #000000;
  bottom: 5px;
  margin: 0px;
  margin-bottom: 20px;
}

#whatsapp{
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 5px;
  text-align: center;
  top: 5px;
}

#contact {
  color: #000000;
  display: inline;
  font-weight: 100;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
}

#contact:link {
  text-decoration: none;
  color: #000000;
}

#contact:visited {
  text-decoration: none;
  color: #000000;
}

/* Media query for phones */
@media (max-width: 768px) {
  .displayimage {
    width: 100%;
    margin-right: 0;
  }
  .crop{
    scale: 0.5;
  }
}

.footer{
  position: relative;
  top: 20px;
}

#lottie-controls{
  display: none;
}
.crop{
  display: flex;
  width: 300px;
  height: 250px;
  overflow: hidden;
  filter: grayscale(100);
}
.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  animation: ease-in-out;
  background-image: url("../Data/a24b55de7a5baf9b9e51872a91d19f6c.jpg");
  background-size: cover;
}

.hide{
  display: none;
}